body {
    background-color: beige;
    text-align: center;
}

h1 {
    color: Tomato;
}

p {
    color: dimgray;
}

#result1 {
    color: SteelBlue;
    font-weight: bold;
    font-size: 18px;
}

#result2 {
    color: Teal;
    font-weight: bold;
    font-size: 18px;
}