body {
    background-color: beige;
    text-align: center;
}

h1 {
    color: cadetblue;
}

p {
    color: dimgray;
}

#result {
    color: indianred;
    font-weight: bold;
    font-size: 24px;
}